<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Achievements</h2>
            </div>
        </div>
        <div class="row">
            {{#each achievements}}
                <div class="col-md-3 text-center col-padding animate-box">
                    <a href="{{url}}" target="_blank" class="work" style="background-image: url({{image}});">
                        <div class="desc">
                            <h3>{{title}}</h3>
                            <span>{{description}}</span>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
</div>