
<div id="fh5co-started" class="fh5co-bg-dark">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Hire Me!</h2>
                <p>{{openForJobRequest.requestText}}</p>
                <p><a href="#fh5co-consult" class="btn btn-default btn-lg">Let's connect!</a></p>
            </div>
        </div>
    </div>
</div>